@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Extrabold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Gilroy,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Gilroy,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
::-webkit-scrollbar {
  width: 6px
}
::-webkit-scrollbar-thumb {
  background-color: #001a6f;
  border-radius: 5px
}
::-webkit-scrollbar-track {
  background-color: #fefefe
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  width: 100%;
  margin-left: auto;
  margin-right: auto
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header__hotline,
.menu__lng {
  position: relative
}
.header__hotline span,
.menu__lng span {
  position: relative;
  z-index: 2;
  transition: color .3s ease 0s
}
.title-hero {
  font-weight: 700;
  line-height: 1.2;
  color: #001a6f
}
.swiper-button {
  position: absolute;
  z-index: 10;
  border: .0625rem solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s ease;
  background-color: #fff
}
.swiper-button svg path {
  transition: stroke .3s ease
}
.swiper-scrollbar {
  height: .125rem;
  background-color: rgba(0,26,111,.1)
}
.swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #001a6f;
  height: .125rem
}
.header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #fff;
  border-top: .0625rem solid #000;
  border-bottom: .0625rem solid #000
}
.header__link {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 0 1rem;
  position: relative;
  z-index: 5
}
.header__link img {
  height: auto
}
.header__container {
  padding: 0!important
}
.header__hotline {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
.header__hotline img {
  display: none
}
.menu {
  height: 100%;
  display: grid
}
.menu__list {
  display: flex
}
.menu__link {
  font-weight: 400;
  text-wrap: nowrap;
  position: relative
}
.menu__lng {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: .0625rem solid #000;
  border-right: .0625rem solid #000;
  font-weight: 400
}
.hero {
  overflow: hidden
}
.companies {
  position: relative
}
.companies__container {
  position: relative
}
.companies__container .swiper-button {
  bottom: 9.375rem
}
.companies__title {
  font-weight: 800;
  line-height: 1.23;
  color: #001a6f;
  text-align: center
}
.companies__sub-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  line-height: 1.15
}
.companies__body {
  position: relative
}
.companies__slider {
  overflow: visible!important;
  width: 18.125rem;
  margin-left: auto;
  margin-right: auto
}
.companies__slide {
  max-width: 18.125rem;
  width: 18.125rem
}
.slide-companies {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative
}
.slide-companies__info {
  flex: 1;
  margin-bottom: .3125rem;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity .3s ease
}
.slide-companies__info p {
  background-color: #00b2e3;
  -webkit-clip-path: polygon(0 0,100% 0,100% 85%,54% 85%,50% 100%,46% 85%,0 85%);
  clip-path: polygon(0 0,100% 0,100% 85%,54% 85%,50% 100%,46% 85%,0 85%);
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content
}
.slide-companies__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  height: 7.9375rem;
  padding: 1.25rem
}
.slide-companies__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.slide-companies__line {
  display: block;
  width: 100%;
  margin-bottom: 1.875rem;
  position: relative
}
.slide-companies__line span {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #001a6f;
  margin-left: auto;
  margin-right: auto
}
.slide-companies__line::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  height: .125rem;
  background-color: #001a6f;
  width: 100%;
  left: 0
}
.slide-companies__date {
  text-align: center;
  font-weight: 700;
  color: #c6c6c6;
  transition: color .3s ease
}
.swiper-slide-active .slide-companies__date {
  color: #001a6f
}
.indicators {
  position: relative;
  overflow: hidden
}
.indicators__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  z-index: 0
}
.indicators__container {
  position: relative;
  z-index: 1
}
.indicators__title {
  color: #fff
}
.indicators__item {
  color: #fff;
  text-align: center;
  position: relative
}
.indicators__item::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-52%,-48%);
  transform: translate(-52%,-48%);
  background-image: url(../img/icons/dec-qube.svg);
  background-repeat: no-repeat;
  background-size: contain
}
.indicators__count,
.indicators__txt {
  position: relative;
  z-index: 1
}
.indicators__count {
  font-weight: 700
}
.indicators__txt {
  font-weight: 400
}
.about__body {
  border: .0625rem solid #000
}
.video-youtube__body {
  position: relative;
  background-color: #000
}
.video-youtube__body iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.video-youtube__button {
  overflow: hidden;
  position: relative;
  z-index: 0
}
.video-youtube__button::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(../img/icons/youtube-color.svg);
  background-repeat: no-repeat;
  background-size: contain
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:22.56125em) {
  [class*=__container] {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }
}
@media (min-width:30.06125em) {
  .header__hotline:before,
  .menu__lng:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #000;
    transition: height .3s ease 0s
  }
  .menu__link::after {
    content: "";
    position: absolute;
    bottom: -.1875rem;
    left: 0;
    width: 100%;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    height: .0625rem;
    background-color: #000;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out
  }
  .companies__body {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,transparent,#fff 46%,#fff 46%,transparent);
    mask: linear-gradient(90deg,transparent,#fff 46%,#fff 46%,transparent)
  }
  .companies__slide.swiper-slide-active:hover {
    cursor: pointer
  }
  .companies__slide.swiper-slide-active:hover .slide-companies__info {
    opacity: 1
  }
}
@media (min-width:46.93625em) {
  .indicators__body {
    display: flex;
    justify-content: space-between
  }
}
@media (min-width:48.06125em) {
  .video-youtube__body {
    aspect-ratio: 19/9
  }
  .video-youtube__body iframe {
    aspect-ratio: 19/9
  }
  .video-youtube__button img {
    aspect-ratio: 19/9
  }
}
@media (min-width:56.31125em) {
  .header__link {
    border-right: .0625rem solid #000;
    justify-content: center;
    max-width: 23.375rem
  }
  .menu {
    grid-template-columns: 1fr auto
  }
  .menu__list {
    align-items: center;
    justify-content: space-around;
    height: 100%;
    row-gap: .1875rem
  }
  .menu__copy {
    display: none
  }
  .social-menu {
    display: none
  }
  .icon-menu {
    display: none
  }
  .icon-menu__span {
    display: none
  }
}
@media (min-width:62.06125em) {
  .header__hotline {
    background-color: #ffbf3c;
    padding: 0 1rem;
    max-width: 27.5rem
  }
  .header__hotline span {
    font-weight: 400;
    transition: color .3s ease 0s;
    color: #000;
    position: relative;
    z-index: 2
  }
}
@media (min-width:81.31125em) {
  .swiper-button.swiper-button-prev {
    left: 0
  }
  .swiper-button.swiper-button-next {
    right: 0
  }
}
@media (min-width:120em) {
  [class*=__container] {
    max-width: 110rem
  }
  .about,
  .companies,
  .indicators {
    padding-top: 6.25rem
  }
  .about,
  .companies,
  .indicators {
    padding-bottom: 6.25rem
  }
  .title-hero {
    font-size: 3rem
  }
  .swiper-button {
    width: 2.5rem
  }
  .swiper-button {
    height: 2.5rem
  }
  .header {
    min-height: 6.25rem
  }
  .header__link img {
    width: 9.375rem
  }
  .header__hotline span {
    font-size: 1.125rem
  }
  .menu__list {
    -webkit-column-gap: 4.75rem;
    -moz-column-gap: 4.75rem;
    column-gap: 4.75rem
  }
  .menu__list {
    padding-left: 5.125rem
  }
  .menu__list {
    padding-right: 5.125rem
  }
  .menu__link {
    font-size: 1.125rem
  }
  .menu__lng {
    width: 6.25rem
  }
  .menu__lng {
    font-size: 1.125rem
  }
  .hero {
    padding-top: 6.25rem
  }
  .companies__title {
    font-size: 8rem
  }
  .companies__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .companies__sub-title {
    max-width: 64rem
  }
  .companies__sub-title {
    font-size: 2.125rem
  }
  .companies__body {
    margin-top: 3.125rem
  }
  .companies__slider .swiper-scrollbar {
    margin-top: 2.5rem
  }
  .slide-companies__info p {
    padding-top: 1rem
  }
  .slide-companies__info p {
    padding-left: 1rem
  }
  .slide-companies__info p {
    padding-right: 1rem
  }
  .slide-companies__info p {
    padding-bottom: 1.875rem
  }
  .slide-companies__date {
    font-size: 2.375rem
  }
  .indicators__title {
    margin-bottom: 3.125rem
  }
  .indicators__item::before {
    width: 13.5625rem
  }
  .indicators__item::before {
    height: 13.5625rem
  }
  .indicators__count {
    font-size: 9rem
  }
  .indicators__txt {
    font-size: 1.875rem
  }
  .about__title {
    margin-bottom: 2.4375rem
  }
  .video-youtube__button::before {
    width: 14.125rem
  }
  .video-youtube__button::before {
    height: 9.6875rem
  }
}
@media (max-width:85.43625em) {
  [class*=__container] {
    max-width: 77.5rem
  }
  .about,
  .companies,
  .indicators {
    padding-top: 4.375rem
  }
  .about,
  .companies,
  .indicators {
    padding-bottom: 4.375rem
  }
  .title-hero {
    font-size: 2.25rem
  }
  .header {
    min-height: 3.75rem
  }
  .header__link img {
    width: 5.625rem
  }
  .header__hotline span {
    font-size: 1rem
  }
  .menu__link {
    font-size: 1rem
  }
  .menu__lng {
    width: 3.75rem
  }
  .menu__lng {
    font-size: 1rem
  }
  .hero {
    padding-top: 3.75rem
  }
  .companies__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .companies__sub-title {
    max-width: 44.75rem
  }
  .companies__sub-title {
    font-size: 1.25rem
  }
  .companies__body {
    margin-top: 1.25rem
  }
  .companies__slider .swiper-scrollbar {
    margin-top: 1.25rem
  }
  .slide-companies__info p {
    padding-top: .625rem
  }
  .slide-companies__info p {
    padding-left: .625rem
  }
  .slide-companies__info p {
    padding-right: .625rem
  }
  .slide-companies__info p {
    padding-bottom: 1.5625rem
  }
  .slide-companies__date {
    font-size: 1.75rem
  }
  .indicators__title {
    margin-bottom: 2.8125rem
  }
  .indicators__item::before {
    width: 9.375rem
  }
  .indicators__item::before {
    height: 9.375rem
  }
  .indicators__count {
    font-size: 5rem
  }
  .indicators__txt {
    font-size: 1.25rem
  }
  .about__title {
    margin-bottom: 1.25rem
  }
}
@media (max-width:81.31125em) {
  .swiper-button.swiper-button-prev {
    left: 1.25rem
  }
  .swiper-button.swiper-button-next {
    right: 1.25rem
  }
}
@media (max-width:75.06125em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .menu__list {
    padding-left: 1.875rem
  }
  .menu__list {
    padding-right: 1.875rem
  }
}
@media (max-width:62.06125em) {
  .header__hotline {
    max-width: 3.75rem
  }
  .header__hotline span {
    display: none
  }
  .header__hotline img {
    display: block
  }
}
@media (max-width:56.31125em) {
  .header__container {
    width: auto;
    margin: 0
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.75rem 0 0 0;
    transition: left .3s;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    background-color: #fff;
    border-top: .0625rem solid #000;
    border-bottom: .0625rem solid #000;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    padding-top: 3.75rem;
    margin-bottom: 3.125rem;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1.875rem;
    max-height: 37.5rem
  }
  .menu__link {
    font-size: 1.125rem!important;
    text-align: center;
    width: 100%
  }
  .menu__copy {
    padding: 1.25rem
  }
  .social-menu {
    width: 100%;
    display: flex;
    justify-content: center
  }
  .social-menu__item {
    width: 100%;
    height: 100%;
    min-height: 6.25rem;
    max-width: 6.25rem;
    border-top: .0625rem solid #000;
    border-bottom: .0625rem solid #000;
    border-left: .0625rem solid #000
  }
  .social-menu__item:last-child {
    border-right: .0625rem solid #000
  }
  .social-menu__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
  }
  .social-menu__link.link-insta img {
    position: relative;
    right: -.3125rem;
    top: -.3125rem
  }
  .icon-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    max-width: 3.75rem;
    border-left: .0625rem solid #000;
    position: relative;
    z-index: 5
  }
  .icon-menu__span {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu__span span,
  .icon-menu__span::after,
  .icon-menu__span::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu__span::before {
    top: 0
  }
  .icon-menu__span::after {
    bottom: 0
  }
  .icon-menu__span span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu__span span {
    width: 0
  }
  .menu-open .icon-menu__span::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu__span::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
}
@media (max-width:56.31125em) and (any-hover:none) {
  .icon-menu__span {
    cursor: default
  }
}
@media (max-width:48.06125em) {
  .video-youtube__body {
    aspect-ratio: 16/9
  }
  .video-youtube__body iframe {
    aspect-ratio: 16/9
  }
  .video-youtube__button img {
    aspect-ratio: 16/9
  }
}
@media (max-width:46.93625em) {
  .indicators__body {
    display: grid;
    grid-template-columns: auto auto;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    row-gap: 5rem
  }
}
@media (max-width:30.06125em) {
  .header__link {
    justify-content: center
  }
  .companies__title {
    font-size: 3.75rem
  }
  .companies__slide.swiper-slide-active .slide-companies__info {
    opacity: 1
  }
  .video-youtube__button::before {
    width: 3.75rem
  }
  .video-youtube__button::before {
    height: 3.0625rem
  }
}
@media (max-width:23.49875em) {
  .indicators__body {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem;
    row-gap: 3.75rem
  }
  .indicators__item::before {
    width: 8.75rem!important;
    height: 8.75rem!important
  }
}
@media (max-width:22.56125em) {
  [class*=__container] {
    padding-left: .9375rem;
    padding-right: .9375rem
  }
  .indicators__count {
    font-size: 4.375rem!important
  }
}
@media (max-width:8.56125em) {
  .swiper-button {
    width: 1.875rem
  }
  .swiper-button {
    height: 1.875rem
  }
}
@media (min-width:85.43625em) and (max-width:120em) {
  @supports (max-width:clamp(77.5rem ,-2.8349788434rem + 94.0291490362vw ,110rem)) {
    [class*=__container] {
      max-width: clamp(77.5rem ,-2.8349788434rem + 94.0291490362vw ,110rem)
    }
  }
  @supports not (max-width:clamp(77.5rem ,-2.8349788434rem + 94.0291490362vw ,110rem)) {
    [class*=__container] {
      max-width: calc(77.5rem + 32.5 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (padding-top:clamp(4.375rem ,-0.2597103179rem + 5.4247585982vw ,6.25rem)) {
    .about,
    .companies,
    .indicators {
      padding-top: clamp(4.375rem ,-.2597103179rem + 5.4247585982vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(4.375rem ,-0.2597103179rem + 5.4247585982vw ,6.25rem)) {
    .about,
    .companies,
    .indicators {
      padding-top: calc(4.375rem + 1.875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (padding-bottom:clamp(4.375rem ,-0.2597103179rem + 5.4247585982vw ,6.25rem)) {
    .about,
    .companies,
    .indicators {
      padding-bottom: clamp(4.375rem ,-.2597103179rem + 5.4247585982vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(4.375rem ,-0.2597103179rem + 5.4247585982vw ,6.25rem)) {
    .about,
    .companies,
    .indicators {
      padding-bottom: calc(4.375rem + 1.875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(2.25rem ,0.3961158728rem + 2.1699034393vw ,3rem)) {
    .title-hero {
      font-size: clamp(2.25rem ,.3961158728rem + 2.1699034393vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,0.3961158728rem + 2.1699034393vw ,3rem)) {
    .title-hero {
      font-size: calc(2.25rem + .75 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (min-height:clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)) {
    .header {
      min-height: clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)
    }
  }
  @supports not (min-height:clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)) {
    .header {
      min-height: calc(3.75rem + 2.5 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (width:clamp(5.625rem ,-3.6444206358rem + 10.8495171965vw ,9.375rem)) {
    .header__link img {
      width: clamp(5.625rem ,-3.6444206358rem + 10.8495171965vw ,9.375rem)
    }
  }
  @supports not (width:clamp(5.625rem ,-3.6444206358rem + 10.8495171965vw ,9.375rem)) {
    .header__link img {
      width: calc(5.625rem + 3.75 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(1rem ,0.6910193121rem + 0.3616505732vw ,1.125rem)) {
    .header__hotline span {
      font-size: clamp(1rem ,.6910193121rem + .3616505732vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6910193121rem + 0.3616505732vw ,1.125rem)) {
    .header__hotline span {
      font-size: calc(1rem + .125 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(1rem ,0.6910193121rem + 0.3616505732vw ,1.125rem)) {
    .menu__link {
      font-size: clamp(1rem ,.6910193121rem + .3616505732vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6910193121rem + 0.3616505732vw ,1.125rem)) {
    .menu__link {
      font-size: calc(1rem + .125 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (width:clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)) {
    .menu__lng {
      width: clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)
    }
  }
  @supports not (width:clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)) {
    .menu__lng {
      width: calc(3.75rem + 2.5 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(1rem ,0.6910193121rem + 0.3616505732vw ,1.125rem)) {
    .menu__lng {
      font-size: clamp(1rem ,.6910193121rem + .3616505732vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.6910193121rem + 0.3616505732vw ,1.125rem)) {
    .menu__lng {
      font-size: calc(1rem + .125 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (padding-top:clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)) {
    .hero {
      padding-top: clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,-2.4296137572rem + 7.2330114643vw ,6.25rem)) {
    .hero {
      padding-top: calc(3.75rem + 2.5 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(4.375rem ,-4.5854399479rem + 10.4878666233vw ,8rem)) {
    .companies__title {
      font-size: clamp(4.375rem ,-4.5854399479rem + 10.4878666233vw ,8rem)
    }
  }
  @supports not (font-size:clamp(4.375rem ,-4.5854399479rem + 10.4878666233vw ,8rem)) {
    .companies__title {
      font-size: calc(4.375rem + 3.625 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,2.7949034393rem + -1.8082528661vw ,1.25rem)) {
    .companies__title:not(:last-child) {
      margin-bottom: clamp(.625rem ,2.7949034393rem + -1.8082528661vw ,1.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,2.7949034393rem + -1.8082528661vw ,1.25rem)) {
    .companies__title:not(:last-child) {
      margin-bottom: calc(1.25rem + -.625 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (max-width:clamp(44.75rem ,-2.8330259303rem + 55.6941882753vw ,64rem)) {
    .companies__sub-title {
      max-width: clamp(44.75rem ,-2.8330259303rem + 55.6941882753vw ,64rem)
    }
  }
  @supports not (max-width:clamp(44.75rem ,-2.8330259303rem + 55.6941882753vw ,64rem)) {
    .companies__sub-title {
      max-width: calc(44.75rem + 19.25 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(1.25rem ,-0.912864815rem + 2.5315540125vw ,2.125rem)) {
    .companies__sub-title {
      font-size: clamp(1.25rem ,-.912864815rem + 2.5315540125vw ,2.125rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,-0.912864815rem + 2.5315540125vw ,2.125rem)) {
    .companies__sub-title {
      font-size: calc(1.25rem + .875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (margin-top:clamp(1.25rem ,-3.3847103179rem + 5.4247585982vw ,3.125rem)) {
    .companies__body {
      margin-top: clamp(1.25rem ,-3.3847103179rem + 5.4247585982vw ,3.125rem)
    }
  }
  @supports not (margin-top:clamp(1.25rem ,-3.3847103179rem + 5.4247585982vw ,3.125rem)) {
    .companies__body {
      margin-top: calc(1.25rem + 1.875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (margin-top:clamp(1.25rem ,-1.8398068786rem + 3.6165057322vw ,2.5rem)) {
    .companies__slider .swiper-scrollbar {
      margin-top: clamp(1.25rem ,-1.8398068786rem + 3.6165057322vw ,2.5rem)
    }
  }
  @supports not (margin-top:clamp(1.25rem ,-1.8398068786rem + 3.6165057322vw ,2.5rem)) {
    .companies__slider .swiper-scrollbar {
      margin-top: calc(1.25rem + 1.25 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (padding-top:clamp(0.625rem ,-0.3019420636rem + 1.0849517196vw ,1rem)) {
    .slide-companies__info p {
      padding-top: clamp(.625rem ,-.3019420636rem + 1.0849517196vw ,1rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,-0.3019420636rem + 1.0849517196vw ,1rem)) {
    .slide-companies__info p {
      padding-top: calc(.625rem + .375 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (padding-left:clamp(0.625rem ,-0.3019420636rem + 1.0849517196vw ,1rem)) {
    .slide-companies__info p {
      padding-left: clamp(.625rem ,-.3019420636rem + 1.0849517196vw ,1rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,-0.3019420636rem + 1.0849517196vw ,1rem)) {
    .slide-companies__info p {
      padding-left: calc(.625rem + .375 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (padding-right:clamp(0.625rem ,-0.3019420636rem + 1.0849517196vw ,1rem)) {
    .slide-companies__info p {
      padding-right: clamp(.625rem ,-.3019420636rem + 1.0849517196vw ,1rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,-0.3019420636rem + 1.0849517196vw ,1rem)) {
    .slide-companies__info p {
      padding-right: calc(.625rem + .375 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (padding-bottom:clamp(1.5625rem ,0.7900482804rem + 0.904126433vw ,1.875rem)) {
    .slide-companies__info p {
      padding-bottom: clamp(1.5625rem ,.7900482804rem + .904126433vw ,1.875rem)
    }
  }
  @supports not (padding-bottom:clamp(1.5625rem ,0.7900482804rem + 0.904126433vw ,1.875rem)) {
    .slide-companies__info p {
      padding-bottom: calc(1.5625rem + .3125 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(1.75rem ,0.2050965607rem + 1.8082528661vw ,2.375rem)) {
    .slide-companies__date {
      font-size: clamp(1.75rem ,.2050965607rem + 1.8082528661vw ,2.375rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,0.2050965607rem + 1.8082528661vw ,2.375rem)) {
    .slide-companies__date {
      font-size: calc(1.75rem + .625 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (margin-bottom:clamp(2.8125rem ,2.0400482804rem + 0.904126433vw ,3.125rem)) {
    .indicators__title {
      margin-bottom: clamp(2.8125rem ,2.0400482804rem + .904126433vw ,3.125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.8125rem ,2.0400482804rem + 0.904126433vw ,3.125rem)) {
    .indicators__title {
      margin-bottom: calc(2.8125rem + .3125 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (width:clamp(9.375rem ,-0.9758530433rem + 12.1152942027vw ,13.5625rem)) {
    .indicators__item::before {
      width: clamp(9.375rem ,-.9758530433rem + 12.1152942027vw ,13.5625rem)
    }
  }
  @supports not (width:clamp(9.375rem ,-0.9758530433rem + 12.1152942027vw ,13.5625rem)) {
    .indicators__item::before {
      width: calc(9.375rem + 4.1875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (height:clamp(9.375rem ,-0.9758530433rem + 12.1152942027vw ,13.5625rem)) {
    .indicators__item::before {
      height: clamp(9.375rem ,-.9758530433rem + 12.1152942027vw ,13.5625rem)
    }
  }
  @supports not (height:clamp(9.375rem ,-0.9758530433rem + 12.1152942027vw ,13.5625rem)) {
    .indicators__item::before {
      height: calc(9.375rem + 4.1875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(5rem ,-4.8873820115rem + 11.5728183429vw ,9rem)) {
    .indicators__count {
      font-size: clamp(5rem ,-4.8873820115rem + 11.5728183429vw ,9rem)
    }
  }
  @supports not (font-size:clamp(5rem ,-4.8873820115rem + 11.5728183429vw ,9rem)) {
    .indicators__count {
      font-size: calc(5rem + 4 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (font-size:clamp(1.25rem ,-0.2949034393rem + 1.8082528661vw ,1.875rem)) {
    .indicators__txt {
      font-size: clamp(1.25rem ,-.2949034393rem + 1.8082528661vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,-0.2949034393rem + 1.8082528661vw ,1.875rem)) {
    .indicators__txt {
      font-size: calc(1.25rem + .625 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,-1.6853165347rem + 3.4356804456vw ,2.4375rem)) {
    .about__title {
      margin-bottom: clamp(1.25rem ,-1.6853165347rem + 3.4356804456vw ,2.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,-1.6853165347rem + 3.4356804456vw ,2.4375rem)) {
    .about__title {
      margin-bottom: calc(1.25rem + 1.1875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (width:clamp(9.375rem ,-2.3662661387rem + 13.7427217822vw ,14.125rem)) {
    .video-youtube__button::before {
      width: clamp(9.375rem ,-2.3662661387rem + 13.7427217822vw ,14.125rem)
    }
  }
  @supports not (width:clamp(9.375rem ,-2.3662661387rem + 13.7427217822vw ,14.125rem)) {
    .video-youtube__button::before {
      width: calc(9.375rem + 4.75 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (height:clamp(6.9375rem ,0.1399248671rem + 7.9563126108vw ,9.6875rem)) {
    .video-youtube__button::before {
      height: clamp(6.9375rem ,.1399248671rem + 7.9563126108vw ,9.6875rem)
    }
  }
  @supports not (height:clamp(6.9375rem ,0.1399248671rem + 7.9563126108vw ,9.6875rem)) {
    .video-youtube__button::before {
      height: calc(6.9375rem + 2.75 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
}
@media (min-width:8.56125em) and (max-width:120em) {
  @supports (width:clamp(1.875rem ,1.8269845543rem + 0.5608462048vw ,2.5rem)) {
    .swiper-button {
      width: clamp(1.875rem ,1.8269845543rem + .5608462048vw ,2.5rem)
    }
  }
  @supports not (width:clamp(1.875rem ,1.8269845543rem + 0.5608462048vw ,2.5rem)) {
    .swiper-button {
      width: calc(1.875rem + .625 * (100vw - 8.56125rem)/ 111.43875)
    }
  }
  @supports (height:clamp(1.875rem ,1.8269845543rem + 0.5608462048vw ,2.5rem)) {
    .swiper-button {
      height: clamp(1.875rem ,1.8269845543rem + .5608462048vw ,2.5rem)
    }
  }
  @supports not (height:clamp(1.875rem ,1.8269845543rem + 0.5608462048vw ,2.5rem)) {
    .swiper-button {
      height: calc(1.875rem + .625 * (100vw - 8.56125rem)/ 111.43875)
    }
  }
}
@media (max-width:56.31125em) and (min-width:30.06125em) {
  .header__link {
    padding-left: 3.75rem
  }
}
@media (min-width:75.06125em) and (max-width:120em) {
  @supports ((-moz-column-gap:clamp(1.875rem ,-2.9271160747rem + 6.3975967289vw ,4.75rem)) or (column-gap:clamp(1.875rem ,-2.9271160747rem + 6.3975967289vw ,4.75rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.875rem ,-2.9271160747rem + 6.3975967289vw ,4.75rem);
      -moz-column-gap: clamp(1.875rem ,-2.9271160747rem + 6.3975967289vw ,4.75rem);
      column-gap: clamp(1.875rem ,-2.9271160747rem + 6.3975967289vw ,4.75rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,-2.9271160747rem + 6.3975967289vw ,4.75rem)) or (column-gap:clamp(1.875rem ,-2.9271160747rem + 6.3975967289vw ,4.75rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 2.875 * (100vw - 75.06125rem)/ 44.93875);
      -moz-column-gap: calc(1.875rem + 2.875 * (100vw - 75.06125rem)/ 44.93875);
      column-gap: calc(1.875rem + 2.875 * (100vw - 75.06125rem)/ 44.93875)
    }
  }
  @supports (padding-left:clamp(1.875rem ,-3.5534790409rem + 7.2320658674vw ,5.125rem)) {
    .menu__list {
      padding-left: clamp(1.875rem ,-3.5534790409rem + 7.2320658674vw ,5.125rem)
    }
  }
  @supports not (padding-left:clamp(1.875rem ,-3.5534790409rem + 7.2320658674vw ,5.125rem)) {
    .menu__list {
      padding-left: calc(1.875rem + 3.25 * (100vw - 75.06125rem)/ 44.93875)
    }
  }
  @supports (padding-right:clamp(1.875rem ,-3.5534790409rem + 7.2320658674vw ,5.125rem)) {
    .menu__list {
      padding-right: clamp(1.875rem ,-3.5534790409rem + 7.2320658674vw ,5.125rem)
    }
  }
  @supports not (padding-right:clamp(1.875rem ,-3.5534790409rem + 7.2320658674vw ,5.125rem)) {
    .menu__list {
      padding-right: calc(1.875rem + 3.25 * (100vw - 75.06125rem)/ 44.93875)
    }
  }
}
@media (min-width:30.06125em) and (max-width:85.43625em) {
  @supports (font-size:clamp(3.75rem ,3.4107082393rem + 1.1286681716vw ,4.375rem)) {
    .companies__title {
      font-size: clamp(3.75rem ,3.4107082393rem + 1.1286681716vw ,4.375rem)
    }
  }
  @supports not (font-size:clamp(3.75rem ,3.4107082393rem + 1.1286681716vw ,4.375rem)) {
    .companies__title {
      font-size: calc(3.75rem + .625 * (100vw - 30.06125rem)/ 55.375)
    }
  }
  @supports (width:clamp(3.75rem ,0.6963741535rem + 10.158013544vw ,9.375rem)) {
    .video-youtube__button::before {
      width: clamp(3.75rem ,.6963741535rem + 10.158013544vw ,9.375rem)
    }
  }
  @supports not (width:clamp(3.75rem ,0.6963741535rem + 10.158013544vw ,9.375rem)) {
    .video-youtube__button::before {
      width: calc(3.75rem + 5.625 * (100vw - 30.06125rem)/ 55.375)
    }
  }
  @supports (height:clamp(3.0625rem ,0.9588910835rem + 6.9977426637vw ,6.9375rem)) {
    .video-youtube__button::before {
      height: clamp(3.0625rem ,.9588910835rem + 6.9977426637vw ,6.9375rem)
    }
  }
  @supports not (height:clamp(3.0625rem ,0.9588910835rem + 6.9977426637vw ,6.9375rem)) {
    .video-youtube__button::before {
      height: calc(3.0625rem + 3.875 * (100vw - 30.06125rem)/ 55.375)
    }
  }
}
@media (any-hover:hover) {
  .header__hotline:hover,
  .menu__lng:hover {
    color: #fff
  }
  .header__hotline:hover span,
  .menu__lng:hover span {
    color: #fff
  }
  .header__hotline:hover::before,
  .menu__lng:hover::before {
    height: 100%
  }
  .swiper-button:hover {
    background-color: #000
  }
  .swiper-button:hover svg path {
    stroke: #fff
  }
  .menu__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
  }
}