.hero {
  overflow: hidden;
  @include adaptiveValue("padding-top", 100, 60,0,1920,1366.98);
  // .hero__video
  &__video {
    &.video-hero-pc {
    }
  }
}

// COMPANIES SECTION ==============================================================
.companies {
  @extend %pddSection;
  position: relative;
  // .companies__container
	&__container {
    position: relative;
    .swiper-button {
      bottom: toRem(150); 
    }
	}
	// .companies__title
	&__title {
    font-weight: 800;
    line-height: 1.23;
    @include adaptiveValue("font-size", 128, 70,2,1920,1366.98);
    @include adaptiveValue("font-size", 70, 60,3,1366.98,480.98);
    color: $blueDark;
    text-align: center;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 10, 20,0,1920,1366.98);
    }
	}
	// .companies__sub-title
	&__sub-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include adaptiveValue("max-width", 1024, 716,0,1920,1366.98);
    font-weight: 400;
    line-height: 1.15;
    @include adaptiveValue("font-size", 34, 20,0,1920,1366.98);
	}
	// .companies__body
	&__body {
    @include adaptiveValue("margin-top", 50, 20,0,1920,1366.98);
    position: relative;
    @media (min-width:$mobileSmall){
      overflow: hidden;
      -webkit-mask: linear-gradient(90deg, transparent, white 46%, white 46%, transparent);
      mask: linear-gradient(90deg, transparent, white 46%, white 46%, transparent);
    }
	}
  // .companies__slider
  &__slider {
    overflow: visible !important;
    width: toRem(290);
    margin-left: auto;
    margin-right: auto;
    .swiper-scrollbar {
      @include adaptiveValue("margin-top", 40, 20,0,1920,1366.98);
    }
  }
  // .companies__wrapper
  &__wrapper {
  }
  // .companies__slide
  &__slide {
    max-width: toRem(290);
    width: toRem(290);
    &.swiper-slide-active {
      @media (min-width:$mobileSmall){
        &:hover{
          cursor: pointer;
          .slide-companies__info {
            opacity: 1;
            transition-delay: .2s;
          }
        }
      }
      @media (max-width:$mobileSmall){
        .slide-companies__info {
          opacity: 1;
          transition-delay: .2s;
        }
      }
    }
  }
}

.slide-companies {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  // .slide-companies__info
  &__info {
    flex: 1;
    margin-bottom: toRem(5);
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: opacity .3s ease;
    p {
      background-color: $blueLight;
      @include adaptiveValue("padding-top", 16,10,0,1920,1366.98);
      @include adaptiveValue("padding-left", 16,10,0,1920,1366.98);
      @include adaptiveValue("padding-right", 16,10,0,1920,1366.98);
      @include adaptiveValue("padding-bottom", 30,25,0,1920,1366.98);
      clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 54% 85%, 50% 100%, 46% 85%, 0 85%);
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: toRem(16);
      height: fit-content;
    }
  }
  // .slide-companies__logo
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: toRem(32);
    height: toRem(127);
    // background-color: gray;
    padding: toRem(20);
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  // .slide-companies__line
  &__line {
    display: block;
    width: 100%;
    margin-bottom: toRem(30);
    span {
      display: block;
      width: toRem(20);
      height: toRem(20);
      background-color: $blueDark;
      margin-left: auto;
      margin-right: auto;
    }
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      height: toRem(2);
      background-color: $blueDark;
      width: 100%;
      left: 0;
    }
    
  }
  // .slide-companies__date
  &__date {
    text-align: center;
    font-weight: 700;
    @include adaptiveValue("font-size", 38, 28,0,1920,1366.98);
    color: #C6C6C6;
    transition: color .3s ease;
    .swiper-slide-active & {
      color: $blueDark;
    }
  }
}


// INDICATORS SECTION ==============================================================
.indicators {
  @extend %pddSection;
  position: relative;
  overflow: hidden;
  // .indicators__bg
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    z-index: 0;
  }
  // .indicators__container
  &__container {
    position: relative;
    z-index: 1;
  }
  // .indicators__title
  &__title {
    color: #fff;
    @include adaptiveValue("margin-bottom", 50, 45,0,1920,1366.98);
  }
  // .indicators__body
  &__body {
    @media (min-width:toEm(750.98)){
      display: flex;
      justify-content: space-between;
    }
    @media (max-width: toEm(750.98)){
      display: grid;
      grid-template-columns: auto auto;
      column-gap: toRem(20);
      row-gap: toRem(80);
    }
    @media (max-width: toEm(375.98)){
      column-gap: toRem(10);
      row-gap: toRem(60);
    }
  }
  // .indicators__item
  &__item {
    color: #fff;
    text-align: center;
    position: relative;
    &::before {
      content:'';
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-52%, -48%);
      background-image:url('../img/icons/dec-qube.svg');
      @include adaptiveValue("width", 217, 150,0,1920,1366.98);
      @include adaptiveValue("height", 217, 150,0,1920,1366.98);
      background-repeat: no-repeat;
      background-size: contain;
      @media (max-width: toEm(375.98)){
        width: toRem(140) !important;
        height: toRem(140) !important;
      }
    }
  }
  &__count,
  &__txt {
    position: relative;
    z-index: 1;
  }
  // .indicators__count
  &__count {
    font-weight: 700;
    @include adaptiveValue("font-size", 144, 80,0,1920,1366.98);
    @media (max-width: toEm(360.98)){
        font-size: toRem(70) !important;
    }
  }
  // .indicators__txt
  &__txt {
    font-weight: 400;
    @include adaptiveValue("font-size", 30, 20,0,1920,1366.98);
  }
}


// ABOUT SECTION ==============================================================
.about {
  @extend %pddSection;
  // .about__container
  &__container {
  }
  // .about__title
  &__title {
    @include adaptiveValue("margin-bottom", 39, 20,0,1920,1366.98);
  }
  // .about__body
  &__body {
    border: toRem(1) solid #000;
  }
  // .about__video-btn
  &__video-btn {
  }
  // .about__poster
  &__poster {
  }
}


.video-youtube {
  // .video-youtube__body
  &__body {
    position: relative;
    background-color: #000;
    @media (min-width:$mobile){
      aspect-ratio: 19/9;
    }
    @media (max-width:$mobile){
      aspect-ratio: 16/9; 
    }
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @media (min-width:$mobile){
        aspect-ratio: 19/9;
      }
      @media (max-width:$mobile){
        aspect-ratio: 16/9; 
      }
    }
  }
  // .video-youtube__button
  &__button {
    overflow: hidden;
    position: relative;
    z-index: 0;
    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image:url('../img/icons/youtube-color.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include adaptiveValue("width", 226, 150,2,1920,1366.98);
      @include adaptiveValue("width", 150, 60,3,1366.98,480.98);
      @include adaptiveValue("height", 155, 111,2,1920,1366.98);
      @include adaptiveValue("height", 111, 49,3,1366.98,480.98);
    }
    img {
      @media (min-width:$mobile){
        aspect-ratio: 19/9;
      }
      @media (max-width:$mobile){
        aspect-ratio: 16/9; 
      }
    }
  }
}